@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    /* background: linear-gradient(to right, black, #654321, #80008085, rgb(39, 34, 34)); */
    background-color: #ccc;
}

.contenedor {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.tarjeta {
    margin-top: 3%;
    background-color: cornflowerblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    padding: 10px;
    border: 1px solid #0e0d0d;
    border-radius: 20px;
    position: relative; 
    overflow: hidden; 
    z-index: 1;
    height: 300px; 
    margin-left: 6%;
}


.herramientas {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    z-index: 0;
}

.h-1, .h-2, .h-3, .h-4 {
    background-color:cornflowerblue;
    border-radius: 10px;
    width: 200px;
    margin: 25px;
}
.titulo, .descripcion{
    color: rgba(0, 0, 0, 0.788);
    display: flex;
    justify-content: center;
    margin-left: 10px;
    flex-direction: column; 
}

.imagen-herramientas img{
    width: 60%;
    height: 100px;
    margin-left: 40px;
    margin-top: 13px;
    border-radius: 50px;

}

.imagen img {
    width: 300px;
    height: 300px;
    border-radius: 150px;
}

button {
    background: black;
    cursor: pointer;
    border: none;
    padding: 2px 1%; 
    color: azure;
    font-size: 18px; 
    font-weight: bold;
    position: relative;
    border-radius: 12px;
    margin-top: 230px;
    margin-right: 50px;
    height: 40px;
}


@media (max-width: 600px) {
    .tarjeta {
        flex-direction: column;
        width: 100%;
        height: auto; 
    }

    .h-1, .h-2, .h-3, .h-4 {
        width: 100%;
    }

    .imagen img {
        width: 100%;
        height: auto;
    }

    button {
        font-size: 16px; 
        margin-top: 10%; 
    }
}



button:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, red, blue, deeppink, blue, red, blue, deeppink, blue);
    background-size: 800%;
    border-radius: 12px;
    filter: blur(8px);
    animation: glowing 20s linear infinite;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

